.places-grid__card{
    list-style-type: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}