.profile-edit-form__close-icon {
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

@media (max-width: 620px) {
    .profile-edit-form__close-icon {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}

.profile-edit-form__close-icon:hover {
    opacity: 0.6;
}