.place__like-btn {
    padding: 0px;
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(./../../../images/icon_like-btn.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    cursor: pointer;
}

.place__like-btn:hover {
    opacity: 0.5;
}